<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">{{ project?.Name }}</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 col-sm-9">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button *ngFor="let image of project?.AdditionalImages; let i = index" 
                      type="button" 
                      data-bs-target="#carouselExampleIndicators" 
                      [attr.data-bs-slide-to]="i" 
                      [class.active]="i === 0" 
                      [attr.aria-current]="i === 0 ? 'true' : null"
                      [attr.aria-label]="'Slide ' + (i + 1)">
              </button>
            </div>
            <div class="carousel-inner">
              <div *ngFor="let image of project?.AdditionalImages; let i = index" 
                   class="carousel-item" 
                   [class.active]="i === 0">
                <img [src]="image" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ project?.Name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ project?.Category }}</h6>
              <p class="card-text">{{ project?.Description }}</p>
              <div class="mt-3">
                <h6>Tecnologias:</h6>
                <div class="d-flex flex-wrap gap-2">
                  <span *ngFor="let tech of project?.Technologies" class="badge bg-primary">{{ tech }}</span>
                </div>
              </div>
              <div class="mt-3" *ngIf="project?.ProjectUrl">
                <h6>Links:</h6>
                <div class="d-flex flex-column gap-2">
                  <a *ngFor="let link of project?.ProjectUrl" 
                     [href]="link" 
                     target="_blank" 
                     class="btn btn-outline-primary btn-sm">
                    {{ link }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
  <a *ngIf="project?.DemoUrl" [href]="project?.DemoUrl" target="_blank" class="btn btn-primary">Ver Demo</a>
</div>


