<hr class="hr" />

<footer class="footer-menu">
    <div class="container text-center">
      <div class="row">
        <div class="social-section">
          <ul class="list-inline social-icons">
            <li class="list-inline-item">
              <a class="link-secondary" href="https://www.linkedin.com/in/aldrin-ronchi-538320172/" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in"></i>          
              </a>
            </li>
            <li class="list-inline-item">
              <a class="link-secondary" href="https://linktr.ee/sethkaiba" aria-label="Linktree">
                <i class="fas fa-link"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="link-secondary" href="https://github.com/aldrinhronchi" aria-label="GitHub">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p class="mb-0 text-secondary">Copyright © 2023 Aldrin "Terore" Ronchi</p>
      <br />
    </div>
</footer>
  