.shapes {
    width: 5.5rem;
    height: 4.763rem;
    position: relative;
    background: conic-gradient(from 120deg at 50% 64%,#0000, #474bff 1deg 120deg,#0000 121deg);
    transform-origin: 50% 50%;
    animation: shapes-b3u1dghg 1.5s infinite cubic-bezier(0.3,1,0,1);
 }
 
 .shapes:before,
 .shapes:after {
    content: '';
    position: absolute;
    inset: 0;
    background: inherit;
    transform-origin: 50% 66%;
    animation: shapes-ki907ohg 1.5s infinite;
 }
 
 .shapes:after {
    --s: -1;
 }
 
 @keyframes shapes-b3u1dghg {
    0%, 30% {
       transform: rotate(0);
    }
 
    70% {
       transform: rotate(120deg);
    }
 
    70.01%, 100% {
       transform: rotate(360deg);
    }
 }
 
 @keyframes shapes-ki907ohg {
    0% {
       transform: rotate(calc(var(--s,1)*120deg)) translate(0);
    }
 
    30%, 70% {
       transform: rotate(calc(var(--s,1)*120deg)) translate(calc(var(--s,1)*-0.55rem),1.1rem);
    }
 
    100% {
       transform: rotate(calc(var(--s,1)*120deg)) translate(0);
    }
 }