<section class="portfolio-block projects-with-sidebar">
    <div class="container">
  
      <!-- Start: portfolio heading -->
      <div class="row">
        <div class="text-center title">
          <h2>Recent Work</h2>
        </div>
      </div>

      <!-- End: portfolio side column -->
      <div class="row">
        <!-- Start: portfolio heading -->
        <div class="col-md-3">
          <ul class="list-unstyled sidebar">
            <p>Much text</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Launch demo modal
            </button>
          </ul>
        </div>
        <!-- End: portfolio side column -->
        <!-- Start: portfolio project grid -->
        <div class="col-md-9">
          <div class="row gx-4 gy-3">
            <div *ngFor="let project of projects; let i = index" class="col-md-6 col-lg-4 project-sidebar-card">
              <a data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="changeModal(i)">
                <div class="overlay">         
                    <img class="img-fluid image project-image" src="/assets/img/nature/image{{i}}.jpg">
                </div>
              </a>
            </div>
        </div>
      </div>
      <!-- End: portfolio project grid -->
    </div>
    </div>
  </section>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <app-modal-info [item]="sector"></app-modal-info> 
    </div>
  </div>
 