<footer class="footer-menu">
    <div class="container text-center">
      <div class="row">
        <div class="links">
          <a [routerLink]="['/']">About me</a>
          <a [routerLink]="['/contact']">Contact me</a>
          <a [routerLink]="['/projects']" >Projects</a>
        </div>
      </div>
      <div class="links">

      <div class="social-icons">
        <a href="https://www.facebook.com/coolisnotschool">
          <!-- <i class="icon ion-social-facebook"></i> -->
          <i ></i>
          <!-- <fa name="cog"></fa> -->

        </a>
        <a href="https://www.instagram.com/aldrin.ronchi">
          <i ></i>
        </a>
        <a href="https://twitter.com/seithterore">
          <i ></i>
        </a>
        <a href="https://steamcommunity.com/id/coolisnotschool/" >
          <i ></i>
        </a>
      </div>
      </div>
    </div>
  </footer>
  