<footer class="page-footer">
    <div class="container">
      <div class="links">
        <a [routerLink]="['/']">About me</a>
        <a [routerLink]="['/contact']">Contact me</a>
        <a [routerLink]="['/projects']" >Projects</a>
      </div>
      <div class="social-icons">
        <a href="https://www.facebook.com/coolisnotschool" style="background-color: rgb(0,0,0);">
          <i class="icon ion-social-facebook"></i>
        </a>
        <a href="https://www.instagram.com/aldrin.ronchi" style="background-color: rgb(0,0,0);">
          <i class="icon ion-social-instagram-outline"></i>
        </a>
        <a href="https://twitter.com/seithterore" style="background-color: rgb(0,0,0);">
          <i class="icon ion-social-twitter"></i>
        </a>
        <a href="https://steamcommunity.com/id/coolisnotschool/" style="background-color: rgb(0,0,0);">
          <i class="fab fa-steam-symbol"></i>
        </a>
      </div>
    </div>
  </footer>
  